/* Roboto Mono */

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("../fonts/RobotoMono-Regular.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2)
    format("woff2");
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local("../fonts/RobotoMono-Italic.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/robotomono/v7/L0x7DF4xlVMF-BfR8bXMIjhOm32WWg.woff2)
    format("woff2");
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("../fonts/RobotoMono-Bold.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjDwjmqxf78.woff2)
    format("woff2");
}

/* Fira Code */

@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("../fonts/FiraCode-Regular.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/firacode/v8/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7Ng.woff2)
    format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("../fonts/FiraCode-Medium.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/firacode/v8/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_A9sJVD7Ng.woff2)
    format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("../fonts/FiraCode-Bold.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/firacode/v8/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_NprJVD7Ng.woff2)
    format("woff2");
}

/* Lora */

@font-face {
  font-family: "Lora";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("../fonts/Lora-Regular.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/lora/v15/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkq0.woff2)
    format("woff2");
}

@font-face {
  font-family: "Lora";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local("../fonts/Lora-Italic.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/lora/v15/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFoq92nA.woff2)
    format("woff2");
}

@font-face {
  font-family: "Lora";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("../fonts/Lora-Bold.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/lora/v15/0QI6MX1D_JOuGQbT0gvTJPa787z5vBJBkq0.woff2)
    format("woff2");
}

@font-face {
  font-family: "Lora";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local("../fonts/Lora-BoldItalic.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/lora/v15/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-C0Coq92nA.woff2)
    format("woff2");
}

/* Exo 2 */

@font-face {
  font-family: "Exo 2";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("../fonts/Exo2-Regular.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cHmv4okm5zmbtYoK-4.woff2)
    format("woff2");
}

@font-face {
  font-family: "Exo 2";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local("../fonts/Exo2-Italic.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cHov4okm5zmbtYtG-wc5Q.woff2)
    format("woff2");
}

@font-face {
  font-family: "Exo 2";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("../fonts/Exo2-Medium.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cHmv4okm5zmbtYoK-4.woff2)
    format("woff2");
}

@font-face {
  font-family: "Exo 2";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: local("../fonts/Exo2-MediumItalic.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cHov4okm5zmbtYtG-wc5Q.woff2)
    format("woff2");
}

@font-face {
  font-family: "Exo 2";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("../fonts/Exo2-Bold.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cHmv4okm5zmbtYoK-4.woff2)
    format("woff2");
}

@font-face {
  font-family: "Exo 2";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local("../fonts/Exo2-BoldItalic.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cHov4okm5zmbtYtG-wc5Q.woff2)
    format("woff2");
}

@font-face {
  font-family: "Exo 2";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local("../fonts/Exo2-Black.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cHmv4okm5zmbtYoK-4.woff2)
    format("woff2");
}

@font-face {
  font-family: "Exo 2";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: local("../fonts/Exo2-BlackItalic.ttf") format("truetype");
  src: url(https://fonts.gstatic.com/s/exo2/v9/7cHov4okm5zmbtYtG-wc5Q.woff2)
    format("woff2");
}
