//Post header

.header-content {
  position: relative;
  width: 100%;
  min-height: 600px;
  overflow: hidden;
  cursor: default;

  .header-width {
    &-half {
      width: 50%;
    }

    @media screen and (max-width: 768px) {
      &-half {
        width: 100%;
      }
    }
  }

  .header-image {
    width: 100%;
    height: 600px;

    &-half {
      width: 50% !important;
      height: 600px;
    }

    &-background {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 600px;
    }

    @media screen and (max-width: 768px) {
      &-half {
        width: 100% !important;
      }
    }
  }

  .header-info {
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.75rem;

    &-half {
      width: 50%;

      padding: 1rem 2rem 3rem;
      text-align: left;
    }

    @media screen and (max-width: 768px) {
      &-half {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1.75rem;
        z-index: 100;
      }
    }
  }
}

.header-h-750 {
  height: 750px !important;
}

.header-h-full {
  height: 100vh !important;
}

.header-profile {
  //height: 20rem;
  margin: 1.75rem 0 0;

  .head-avatar {
    margin: 0.25rem 0;
  }

  .head-text {
    margin: 0.5rem 0;
  }
}

.nav-header {
  position: absolute;
  z-index: 500;
  top: 100px;
  left: 3%;
}

.nav-header ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    //color: $black;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
  }

  a:hover {
    color: $white;
  }

  ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: $grey;
    padding: 0;
  }
}

.nav-header ul li:hover {
  // display: block;
  opacity: 0.9;

  > ul {
    display: block;
  }
}

.header-simple {
  width: 100%;
  //padding-top: 2rem;
  height: auto;

  &-image-top {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &-image-parallax {
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &.max-height {
      height: 575px !important;
    }
  }

  &-info {
    margin: 1rem 0.5rem 1.25rem;
  }

  @media screen and (max-width: 768px) {
    &-image-top {
      height: 400px;
    }
  }
}

.header-top-image {
}

// @media screen and (max-width: 768px) {
//   .header-content {
//     .header-image {
//       &-full {
//         height: 650px;
//       }
//     }
//     .header-info {
//       top: 100px;
//       padding: 0 0.5rem 0 0.25rem;

//       &-full {
//         top: 425px;
//         padding: 0 0.75rem;
//       }
//     }
//   }
// }
