//
// Base styles
//

.card {
  margin: 0.75rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  height: $card-height;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: none;
  @include shadow-3dp();
  @include border-radius($border-radius-sm);

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group:first-child {
    .list-group-item:first-child {
      @include border-top-radius($card-border-radius);
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
      @include border-bottom-radius($card-border-radius);
    }
  }
}

.card-plain {
  background: transparent;
  box-shadow: none;

  .card-header,
  .card-footer {
    margin-left: 0;
    margin-right: 0;
    background-color: transparent;
  }
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  // Workaround for the image size bug in IE
  // See: https://github.com/twbs/bootstrap/pull/28855
  min-height: 1px;
  padding: $card-spacer-x;
  color: $card-color;

  &.-alt{
    padding: .5rem 0;
  }

  &.-material{
    margin-bottom: 2rem;
  }
  
}

.card-title {
  margin-bottom: $card-spacer-y;
  &.-material{
    margin-top: 1.875rem;
  }
}

.card-subtitle {
  margin-top: -$card-spacer-y / 2;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link {
  @include hover() {
    text-decoration: none;
  }

  + .card-link {
    margin-left: $card-spacer-x;
  }
}

//
// Optional textual caps
//

.card-header {
  padding: $card-spacer-y $card-spacer-x;
  margin-bottom: 0; // Removes the default margin-bottom of <hN>
  color: $card-cap-color;
  background-color: $card-cap-bg;
  font-size: $font-size-lg;
  border-bottom: none;

  &:first-child {
    @include border-radius($border-radius-flat);
  }

  + .list-group {
    .list-group-item:first-child {
      border-top: 0;
    }
  }
}

.card-material-header{
  padding: 1.25rem 0;
  margin-left: 1.75rem;
  margin-right: 1.75rem;
  margin-top: -2.5rem;
  background-color: $black;
  color: $white;
  border-radius: $border-radius !important;
  @include shadow-big-navbar();
}

.card-footer {
  padding: $card-spacer-y $card-spacer-x;
  background-color: $card-cap-bg;
  border-top: none;

  &:last-child {
    @include border-radius($border-radius-flat);
  }
}

.card-picture {
  height: 60%;
  position: relative;
  border-radius: $border-radius !important;
  margin-top: -1.75rem;
  //box-shadow: $z-depth-1();
  @include shadow-4dp();

  &.narrow{
    margin-left: 1.75rem;
    margin-right: 1.75rem;
  }

  &.wider{
    margin-left: -1.75rem;
    margin-right: -1.75rem;
  }
}

.card-img-fit{
  height: 15rem;
  object-fit: cover;
}

.card-img-raised{
  @include shadow-4dp;
}

//
// Header navs
//

.card-header-tabs {
  margin-right: -$card-spacer-x / 2;
  margin-bottom: -$card-spacer-y;
  margin-left: -$card-spacer-x / 2;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -$card-spacer-x / 2;
  margin-left: -$card-spacer-x / 2;
}

// Card image
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: $card-img-overlay-padding;
  border-radius: $border-radius;
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0; // For IE: https://github.com/twbs/bootstrap/issues/29396
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
}

.card-img,
.card-img-top {
  @include border-radius($border-radius-sm);
}

.card-img,
.card-img-bottom {
  @include border-radius($border-radius-sm);
}


// Card deck

.card-deck {
  .card {
    margin-bottom: $card-deck-margin;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    margin-right: -$card-deck-margin;
    margin-left: -$card-deck-margin;

    .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-right: $card-deck-margin;
      margin-bottom: 0; // Override the default
      margin-left: $card-deck-margin;
    }
  }
}

.card-content-bottom{
  position: absolute;
  bottom: 10px;
}


//
// Card groups
//

.card-group {
  // The child selector allows nested `.card` within `.card-group`
  // to display properly.
  > .card {
    margin-bottom: $card-group-margin;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: row wrap;
    // The child selector allows nested `.card` within `.card-group`
    // to display properly.
    > .card {
      // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      flex: 1 0 0%;
      margin-bottom: 0;

      + .card {
        margin-left: 0;
        border-left: 0;
      }

      // Handle rounded corners
      @if $enable-rounded {
        &:not(:last-child) {
          @include border-right-radius(0);

          .card-img-top,
          .card-header {
            // stylelint-disable-next-line property-blacklist
            border-top-right-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            // stylelint-disable-next-line property-blacklist
            border-bottom-right-radius: 0;
          }
        }

        &:not(:first-child) {
          @include border-left-radius(0);

          .card-img-top,
          .card-header {
            // stylelint-disable-next-line property-blacklist
            border-top-left-radius: 0;
          }
          .card-img-bottom,
          .card-footer {
            // stylelint-disable-next-line property-blacklist
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }
}


//
// Columns
//

.card-columns {
  .card {
    margin-bottom: $card-columns-margin;
  }

  @include media-breakpoint-up(sm) {
    column-count: $card-columns-count;
    column-gap: $card-columns-gap;
    orphans: 1;
    widows: 1;

    .card {
      display: inline-block; // Don't let them vertically span multiple columns
      width: 100%; // Don't let their width change
    }
  }
}


//
// Accordion
//

.accordion {
  > .card {
    overflow: hidden;

    &:not(:last-of-type) {
      border-bottom: 0;
      @include border-bottom-radius(0);
    }

    &:not(:first-of-type) {
      @include border-top-radius(0);
    }

    > .card-header {
      @include border-radius(0);
      margin-bottom: -$card-border-width;
    }
  }
}

.card-masonry{
  background: $black;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  @include shadow-4dp();

  .card-masonry-area-header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 1rem;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: $grey;
  }
  .card-masonry-area-center {
    position: absolute;
    width: 100%;
    top: 30%;
    opacity: 0;
    padding-left: 1.25rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;

  }
  &:hover {
    //margin-top: -5px;
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    .card-masonry-area-header, .card-masonry-area-center {
      opacity: 1;
    }
    .card-masonry-area-image {
      &.with-hover-overlay:before {
        opacity: 0.90;
      }
    }
  }
  h2:last-child, p:last-child {
    margin-bottom: 0;
  }
  .card-masonry-area-image {
    display: block;
    position: relative;
    //min-height: 6.25rem;
    background: $card-bg;
    &.with-hover-overlay:before {
      display: block;
      position: absolute;
      content: " ";
      background: $dark;
      opacity: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.card-featured-title{
  font-size: 1.5rem;
  font-weight: 700;
}

.card-common-title{
  font-size: 1.25rem;
  font-weight: 700;
}

.card-subinfo{
  font-size: 1rem;
}

@media screen and (max-width: 768px){
  .card-featured-title{
    font-size: 1.33rem;
    font-weight: 700;
  }

  .card-common-title{
    font-size: 1.175rem;
    font-weight: 700;
  }

  .card-subinfo{
    font-size: .85rem;
  }
}

.card-background{
  border-radius: $border-radius;
  background-position: center;
  background-size: cover;
  min-height: 375px;
  transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;

  .card-body{
    position: relative;
    z-index: 2;
  }

  &.card-featured-post{
    min-height: 500px;
  }

  &.card-post-sm{
    min-height: 200px;
    border-radius: $border-radius-lg;
  }

  .card-background-image{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    
  }

  /*@include hover(){
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
  }*/

}

 .card-horizontal-post{
  min-height:300px;

  &-sm{
        min-height:225px;
  }

  &-avatar{
        min-height:300px;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;

        &-sm{
          min-height:225px;
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 100%;
        }
    }

}

    

    

