
.navbar-shadow{
  @include shadow-big-navbar();
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  @include font-size($navbar-toggler-font-size);
  line-height: 1;
  background-color: transparent; // remove default button style
  border: none;
  @include border-radius($border-radius-flat);
  
  @include hover-focus() {
    text-decoration: none;
  }
}


.tooltip-inner{
  font-weight: 700;
}


//Some tests

.card-content{
  position: relative;
  overflow: hidden;

  &:hover {
      .info {
        transform: translateY(0);
      }
    }


  .info{
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
}

// Globals
// Full palette of colors
@each $color_name, $color in $custom-colors-1 {
  @each $color_type, $color_value in $color {
    @if $color_type == "base" {
      .#{$color_name} {
        background-color: $color_value !important;
      }
      .#{$color_name}-text {
        color: $color-value !important;
      }
      .rgba-#{$color_name}-slight,
      .rgba-#{$color_name}-slight:after {
        background-color: rgba($color_value, .1);
      }
      .rgba-#{$color_name}-light,
      .rgba-#{$color_name}-light:after {
        background-color: rgba($color_value, .3);
      }
      .rgba-#{$color_name}-medium,
      .rgba-#{$color_name}-medium:after {
        background-color: rgba($color_value, .5);
      }
      .rgba-#{$color_name}-strong,
      .rgba-#{$color_name}-strong:after {
        background-color: rgba($color_value, .7);
      }
    }
    @else {
      @if $enable_full_palette {
        .#{$color_name}.#{$color_type} {
          background-color: $color_value !important;
        }
      }
    }
  }
}

      