@mixin alert-variant($background) {
  color: color-yiq($background);
  background-color: $background;

  .alert-link {
    color: color-yiq($background);
    text-decoration: underline;
    font-weight: 500;
  }

  @if ($background == $grey) {
      border: 1px $black solid;
  }
}